<app-header></app-header>
<div class="container-fluid">
  <div class="text-center">
   <h2> Project list</h2>   
  </div>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="pname" [(ngModel)]="pname"
     (ngModelChange)="search()" >
    </form>
  </nav>    
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th>ProjectName</th>
          <th >Category </th>
          <th>Department </th>
          <th >Type </th>
          <th >Location </th>
          <th >Priority </th>
          <th >Reason </th>
          <th >StartDate </th>
          <th >EndDate </th>
          <th >Status </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of  resdata |  paginate: {itemsPerPage:5,currentPage :p}">
        <tr>
          <td>{{item.pname}}</td>
          <td>{{item.category}}</td>
          <td>{{item.department}}</td>
          <td>{{item.type}}</td>
          <td>{{item.location}}</td>
          <td>{{item.priority}}</td>
          <td>{{item.reason}}</td>
          <td>{{setDate(item.startDate)}}</td>
          <td>{{setDate(item.endDate)}}</td>
          <td>{{item.status}}</td>
          <td>
    <button  class="btn btn-success" (click)="start(item.pname)">start</button>
    &nbsp;
    <button  class="btn btn-primary" (click)="close(item.pname)">close</button>
    &nbsp;
    <button  class="btn btn-danger" (click)="cancel(item.pname)">cancel</button>
          </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </table>
  </div>